.product img{
    height: 200px;
    width: 200px;
    
}
.product-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap:8px;
    margin-left: auto;
    margin-right: auto;
}
.product-button{
    background-color: red;
    color: white;
    border: none;
    width: 100px;
    cursor: pointer;
    border:2px solid red ;
  
}
 .product-button:hover{
    background-color: pink;
    color: blue;
    border: 2px solid red;
 }